* {
    box-sizing: border-box;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 16px;
    padding: 0;
    margin: 0;
}

body{
    background-color: lightgray;
}

header{
    height: 100px;
    width: cover;
    background-color: gray;
}

section{
    float: right;
    width: 66%;
    position: relative;
}

aside{
    float: left;
    width: 34%;
}

section, aside, footer{
    margin: 2px 0;
    border-width: 2px;
    border-color: black;
    border-style: solid;
}

header h1{
    display: inline-block;
    font-size: 4rem;
}

header nav{
    display: flex;
    float: right;
    padding-top: 1rem;
    margin-right: 1rem;
    font-size: 20px;
}

header nav ul{
    list-style-type: none;
}

header nav ul li{
    display: inline-block;
    margin: 1.5rem;

}

.about-me img{
    width: 200px;
    height: 200px;
}

.project1 img{
    max-height: 400px;
}

.project2 img, .project3 img, .project4 img, .project5 img, .project6 img{
    margin: 5px;
    max-height: 200px;
    display: block;
}

footer{
    clear: both;
    width: 100%;
    font-size: 2rem;
    text-align: center;
    background-color: grey;
}

@media screen and (max-width: 992px) {
    
}

@media screen and (max-width: 768px) {
    
}

@media screen and (max-width: 576px) {
    
}