* {
    box-sizing: border-box;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 16px;
    padding: 0;
    margin: 0;
}

body{
    display: flex;
    flex-direction: column;
    background-color: lightgray;
    width: auto;
}

h1,
h2{
    font-family: 'Cinzel Decorative', cursive;
}
/* makes the header area taller with a grey background color, and text centered */
header{
    height: 100px;
    background-color: black;
    text-align: center;
}
/* gives all sections of the page (except header) a solid black border box. I might remove this later */

section{
    display: flex;
    padding: 5px;    
}

header h1{
    font-size: 4rem;
    background: linear-gradient(to right, rgb(150, 3, 3), white);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
/* makes the nav bar centered under the header with a slightly larger font and no bullet points */
.nav-links{
    display: flex;
    justify-content: center;
    padding-top: 1rem;
    margin-right: 1rem;
    font-size: 20px;
    list-style-type: none;
}

.nav-links ul li{
    display: inline-block;
    margin: 1.5rem;
}

.work-samples{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    padding: 5px;
}

.work-samples-img{
    display: flex;
    justify-content: space-around;
    flex-flow: row wrap;
}
.project1{
    width: 80%;
}
/* adjusts the sizes and layout of the projects excluding the main (larger) one */
.project2{
    flex-direction: row;
    justify-content: center;
    text-align: center;
    padding: 5px;
    height: auto;
    width: 40%;
}

.contact{
    display: flex;
    flex-direction: column;
    padding: 10px;
}
/* fixes the form to apear in a column instead of row and the box width to be the same size as the form */
.contact-form{
    display: flex;
    flex-direction: column;
    width: fit-content;
}

footer{
    width: 100%;
    text-align: center;
    background-color: black;
}

footer h2{
    font-size: 2rem;
    background: linear-gradient(to right, rgb(82, 4, 4), white);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
/* The code below this line is to make the webpage responsive on different screen sizes */
@media screen and (max-width: 992px) {
    .project2{
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        text-align: center;
    }
}

@media screen and (max-width: 768px) {
    header h1{
        font-size: 3.5em;
    }
    .about-me{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
    }
    .about-me p{
        justify-content: flex-end;
        width: 90%;
    }
    .project2{
        flex-direction: row;
        justify-content: center;
        text-align: center;
        padding: 5px;
        height: auto;
        width: 80%;
    }
}

@media screen and (max-width: 576px) {
    header{
        height: 130px;
        text-align: center;
    }
    header h1{
        font-size: 3.5rem;
    }
    .nav-links{
        font-size: 14px;
    }
    .nav-links ul li{
        margin: .5rem;
    }
}