* {
    box-sizing: border-box;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 16px;
    padding: 0;
    margin: 0;
}

body{
    display: flex;
    flex-direction: column;
    background-color: lightgray;
    width: auto;
}

header{
    height: 100px;
    background-color: gray;
    text-align: center;
}

section, footer{
    border-width: 5px;
    border-color: black;
    border-style: solid;
}

section{
    display: flex;
    padding: 5px;    
}

header h1{
    font-size: 4rem;
}

.nav-links{
    display: flex;
    justify-content: center;
    padding-top: 1rem;
    margin-right: 1rem;
    font-size: 20px;
    list-style-type: none;
}

.nav-links ul li{
    display: inline-block;
    margin: 1.5rem;
}

.about-me{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding: 10px;
}

.about-me img{
    height: 200px;
    width: 150px;
    border-radius: 50%;
    margin: 5px;
}

.work-samples{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    padding: 5px;
}

.work-samples-img{
    display: flex;
    justify-content: space-around;
    flex-flow: row wrap;
}

.project2{
    flex-direction: row;
    justify-content: center;
    text-align: center;
    padding: 5px;
    height: auto;
    width: 50%;
}

.contact{
    display: flex;
    flex-direction: column;
    padding: 10px;
}

.contact-form{
    display: flex;
    flex-direction: column;
    width: fit-content;
}

footer{
    width: 100%;
    font-size: 2rem;
    text-align: center;
    background-color: grey;
}

@media screen and (max-width: 992px) {
    .project2{
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        text-align: center;
    }
}

@media screen and (max-width: 768px) {
    header h1{
        font-size: 3.5em;
    }
    .about-me{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
    }
    .project2{
        flex-direction: row;
        justify-content: center;
        text-align: center;
        padding: 5px;
        height: auto;
        width: 100%;
    }
}

@media screen and (max-width: 576px) {
    header{
        height: 130px;
        background-color: gray;
        text-align: center;
    }
    header h1{
        font-size: 3.5rem;
    }
    .nav-links ul li{
        margin: 1rem;
    }
}